<% layout('layout') %>
    <% if(show){ %>
        <p>資料有呈現</p>
    <% } %>
    <%- title %>
    <h2><%= name %></h2>
    <ul>
        <% for(var i=0;type.length>i;i++) { %>
            <li><%- type[i] %></li>
        <% } %>
    </ul>
